/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-path: url(../images/cover-image-dark.png);
  --button-color: var(--neon-pink);
  --color-accent: var(--neon-pink);
  --color-text-main: var(--powder-pink);
  --color-text-secondary: var(--midnight-blue);
  --color-text-tertiary: var(--neon-pink);
  --color-bg: var(--midnight-blue);
  --color-title: var(--neon-purple);
  --decoration-color: var(--neon-pink);
}