:root.theme-light {
  --bg-path: url(../images/cover-image-light.png);
  --color-bg: var(--light-pink);
  --color-accent: var(--candy-floss);
  --color-title: var(--pale-petal);
  --button-color: var(--graphite);
  --color-text-main: var(--graphite);
  --color-text-tertiary: var(--graphite);
  --decoration-color: var(--graphite);
  --color-text-secondary: var(--graphite);
}

.theme-light .header__theme-menu-button:hover {
  border: 1px solid var(--graphite-alpha);
}

.theme-light .rec {
  display: none;
}


/* THEME--AUTO  */

@media (prefers-color-scheme: light) {

  :root {
    --bg-path: url(../images/cover-image-light.png);
    --color-bg: var(--light-pink);
    --color-accent: var(--candy-floss);
    --color-title: var(--pale-petal);
    --button-color: var(--graphite);
    --color-text-main: var(--graphite);
    --color-text-tertiary: var(--graphite);
    --decoration-color: var(--graphite);
    --color-text-secondary: var(--graphite);
  }


  .header__theme-menu-button:hover {
    border: 1px solid var(--graphite-alpha);
  }

  .rec {
    display: none;
  }

}